body{background:#f9f9f9; font-size:16px; line-height:24px; }

header{width:100%; max-width:1000px;}
header{width:100%; font-size:58px;}

#wrap{width:100%; max-width:700px; margin:0 auto;}
.read-more{display:none;}